<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
    <head>
        <meta charset="ISO-8859-1">
        <title>All your tasks</title>
        <style type="text/css">
            span {
                display: inline-block;
                width: 200px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <div align="center">
            <h2>Here is all your tasks!</h2>
            <table style="border: 1px solid black;">
                <thead style="border: 1px solid black;">
                    <tr style="border: 1px solid black;">
                        <th style="border: 1px solid black;">Task Name</th>
                        <th style="border: 1px solid black;">Task Time</th>
                        <th style="border: 1px solid black;">Task Action</th>
                    </tr>
                </thead>
                <tbody style="border: 1px solid black;">
                    <tr th:each="task : ${tasks.Size}" style="border: 1px solid black;">
                        <td style="border: 1px solid black;">
                            <span th:text="${tasks.getName()}"></span>
                        </td>
                        <td style="border: 1px solid black;">
                            <span th:text="${tasks.getTime()}"></span>
                        </td>
                        <td style="border: 1px solid black;">
                            <!-- <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}">Update</a> -->
                            <a th:href="@{/deleteTask/{id}(id=${tasks.getID()})}">Delete</a>
                            <!-- <span th:text="${tasks.getID()}"></span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="/">Home</a>
        </div>
    </body>
</html>