<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
    <head>
        <meta charset="ISO-8859-1">
        <title>All your tasks</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/allTasks.css}">
        <style type="text/css">
            span {
                display: inline-block;
                width: 200px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <h2 id="title">Here is all your tasks!</h2>
            <table class="tbl">
                <thead class="tbl">
                    <tr class="tbl">
                        <th class="tbl">Task Name</th>
                        <th class="tbl">Task Time</th>
                        <th class="tbl">Task Action</th>
                    </tr>
                </thead>
                <tbody class="tbl">
                    <tr th:each="task : ${tasks.Size}" class="tbl">
                        <td class="tbl">
                            <span th:text="${tasks.getName()}"></span>
                        </td>
                        <td class="tbl">
                            <span th:text="${tasks.getTime()}"></span>
                        </td>
                        <td id="action" class="tbl">
                            <a th:href="@{/deleteTask/{id}(id=${tasks.getID()})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="/" id="home">Home</a>
        </div>
    </body>
</html>