<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Home - ToDo App</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    </head>
    <body>
        <div id="wrapper1" align="center">
            <div id="wrapper2">
                <h1 style="padding: 20px 0 20px 0; font-size: 38px;">ToDo App</h1>
                <hr style="border: 2px solid black;">
                <div id="wrapper3">
                    <a href="/add" style="padding: 40px 0 0 0; font-size: 20px;">Click here to ADD NEW TASK</a>
                    <a href="/show" style="padding: 40px 0 0 0; font-size: 20px;">Click here to SEE ALL TASKS</a>
                </div>
            </div>
        </div>
    </body>
</html>